.container {
	margin-left: 0;
}

.main {
	margin: 0 20px;
}
.is-primary {
	background-color: rgb(141, 182, 0) !important;
}

.tutorial {
	width: 600px;
	text-align: center;
	margin: auto;
}

figure.image {
	display: flex;
	justify-content: center;
	background-color: black;
}

figure .image img {
	width: 128px;
}

.notification {
	margin-top: 20px !important;
	height: 140px;
}

.results {
	max-height: 500px;
	overflow-y: scroll;
}

.title .icon {
	margin-left: 15px;
}

.hero {
	margin-bottom: 20px;
}

.content {
	height: 280px;
}

.forms {
	display: flex;
	justify-content: space-around;
}

.dropdown-item {
	display: flex;
	align-items: center;
	height: 60px;
}

.dropdown-item img {
	height: 50px;
	margin-right: 10px;
}
